@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

body {
	margin: 0;
	overflow-x: hidden;
	font-family: RobotoCondensed, sans-serif;
	width: 100vw;
	background-color: #32776d;

}

ul {
	padding: 0;
}

li {
	list-style: none;
}

header {
	height: 144px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 2rem 0rem;
	background-color: transparent;
	z-index: 99;
	transition: height 0.3s ease 0s, background-color 0.3s ease 0s;
}

header.shrink {
	height: 10px;
	background-color: #069c86;
	box-shadow: 1px 3px 13px #111;
}

.main-menu-wrapper {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.main-menu {
	display: flex;
	pointer-events: visible;
}

.main-menu > li > a {
	text-transform: uppercase;
	font-size: 2rem;
	color: white;
	text-decoration: none;
}

.main-menu > li > a.active {
	color: gray;
}

.main-menu > li ~ li {
	margin-left: 30vw;
}

.main-menu > li > a:hover {
	color: wheat;
}

.section {
	background-color: #32776d;
	height: 100vh;
	width: 100vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

.banner {
	background-image: url(./assets/trees.jpg);
	overflow: hidden;
	background-size: 150%;
	object-fit: cover;
	background-repeat: no-repeat;
	color: white;
}

.banner h1 {
	color: white;
	font-size: 7rem;
}

.banner h3 {
	color: white;
	font-size: 3rem;
	margin-top: 0;
}

.banner-ghost-txt {
	text-transform: uppercase;
	width: max-content;
	font-size: 22rem;
	font-weight: 800;
	position: absolute;
	right: -1042px;
	top: 1100px;
	color: white;
	transform: rotate(-90deg);
	opacity: 0.1;
}

.info {
	display: flex;
	justify-content: center;
	text-align: center;
}


.info h3 {
	font-size: 3rem;
	font-weight: 600;
}

.info p {
	font-size: 1.5rem;
}

.cert {
	width: 25vw;

}

.skills {
	width: 25vw;
	padding:0 20px 0 20px;

}

.design {
	width: 25vw;

}

.about {
	background-color: #255850;
	width: 100vw;

}

.about-text {
	width: 80vw;
	font-size: 2rem;
	text-align: center;
}

.portfolio-title {
	padding-top: 80px;
	background-color: #32776d;
	text-align: center;
}

.portfolio-title-txt {
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
	margin: 0;

}

.portfolio {
	background-color: #32776d;
	display: flex;
	justify-content: space-around;
	grid-gap: 80px 0;
	padding: 80px 80px;
	flex-wrap: wrap;
}

.thumbnail {
	width: 40vw;
	height: auto;
	margin: 0 auto;
}

.thumbnail img {
	width: 100%;
	height: 25vw;
	border-radius: 1rem;
	object-fit: cover;
	transition: transform 0.5s ease 0s;
}

.thumbnail:hover img {
	transform: scale(1.1);
}

.footer {
	background-color: #255850;
	padding: 10px 0;
	text-align: center;
	width: 100vw;
}

.to-right {
	transform: translateX(-300px);
}

.to-left {
	transform: translateX(300px);
}

.to-right,
.to-left,
.to-top {
	opacity: 0;
	transition: all 2s ease 0s;
}

.to-right.show,
.to-left.show {
	opacity: 1;
	transform: translateX(0);
}

.to-top {
	transform: translateY(100px);
}
.to-top.show {
	transform: translateY(0);
	opacity: 1;
}

@media (max-width: 900px) {
	.main-menu {
		flex-direction: column;
		text-align: center;
		padding: 0;
	}

	.main-menu > li ~ li {
		margin-left: 0;
	}

	.main-menu > li > a {
		font-size: 12px;
	}

	header {
		height: 60px;
		padding-top: 5px;
	}


	header.shrink {
		height: 60px;
		background-color: #069c86;
	}

	.section {
		height: fit-content;
		min-height: 400px;
	}

	.banner-ghost-txt {
		display: none;
	}

	.info {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		padding-bottom: 16px;
	}

	.cert {
		width: 200px;
		text-align: center;
	}

	.skills {
		width: 200px;
		text-align: center;
	}

	.design {
		width: 200px;
		text-align: center;
	}

	.info h3 {
		font-size: 2rem;
	}

	.info p {
		font-size: 1rem;
	}

	.about-text {
		width: 80vw;
		font-size: 1.1rem;
	}

	.portfolio-title-txt {
		font-size: 4rem;
	}

	.portfolio {
		display: flex;
		flex-direction: column;
		padding: 30px 0;
	}

	.thumbnail {
		width: 400px;
	}

	.thumbnail img {
		height: 250px;
	}
}

@media (max-width: 400px) {
	.main-menu > li a {
		font-size: 1rem;
	}

	.banner {
		background-size: 150% 100%;
	}

	.cert {
		width: 200px;
		text-align: center;
	}

	.skills {
		width: 200px;
		text-align: center;
	}

	.design {
		width: 200px;
		text-align: center;
	}

	.info h3 {
		font-size: 20px;
	}

	.info p {
		font-size: 16px;
		width: 200px;
	}

	.about-text {
		width: 80vw;
		font-size: 1rem;
	}

	.portfolio-title-txt {
		font-size: 2rem;
	}

	.thumbnail {
		width: 80vw;
	}

	.thumbnail img {
		height: 100%;
	}
}
